.el-loading-mask {
    background: rgba(0, 0, 0, 0.8)
}

.el-drawer__header {
    color: #FFFFFF;
    background-color: #3884c5;
    padding-bottom: 20px;
}

.myTable {
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed;
}

.myTable td {
    width: 50%;
    padding: 8px;
    height: 23px;
    border-bottom: 1px solid #383c42;
    word-wrap: break-word;
}

.myTable td div {
    margin-top: 2px
}

.myTable th {
    border: 0;
    height: 30px;
}
.myTable tr:hover {
    background-color: #2b2f33;
}

.myTable tr:first-child:hover {
    background-color: transparent !important;
}

.myTable tr td:nth-child(2) {
    color: #85888e;
}


.myTag {
    display: inline-block;
    margin: 2px;
}