/* Element 变量 */
$--color-primary: #3884c5;
$--color-success: #87CB16;
$--color-warning: #FFA534;
$--color-danger: #FB404B;
$--color-info: #0033FF;
$--color-kubepi: #3884c5;

$--box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, .14);

$--color-text-primary: #3c4858;

/* layout */
$layout-bg-color: #1c1e20;

/* sidebar */
$sidebar-open-width: 280px;
$sidebar-close-width: 60px;
$sidebar-bg-color: #2f3236;
$sidebar-bg-gradient: linear-gradient(to bottom right, #30373D, #3E3E3D);

/* menu */
$menu-height: 50px; // 菜单项高度
$menu-bg-color: transparent; // 菜单项背景
$menu-bg-color-hover: mix($--color-kubepi, #000, 90%); // 菜单项hover背景
$menu-color: #B6C0CD; // 菜单项字体颜色
$menu-open-bg-color: #252B2F; // 菜单项展开背景
$menu-active-color: #3884c5; // 菜单项激活时颜色
$menu-active-bg-color: $--color-primary; // 菜单项激活时背景

$submenu-height: 40px; // 子菜单项高度
$submenu-bg-color-hover: mix($menu-open-bg-color, #000, 80%); // 子菜单项hover背景
$submenu-active-color: $menu-active-color; // 子菜单项激活时颜色
$submenu-active-bg-color: $menu-open-bg-color; // 子菜单项激活时背景

$menu-active-prefix-color: #3884c5; // 菜单激活前缀颜色
$menu-active-prefix-width: 4px; // 菜单激活前缀宽度

/* logo */
$logo-height: 40px;
$logo-bg-color: #4E5051;

/* header */
$header-height: 60px;
$header-padding: 30px;

/* main */
$view-padding: 15px;

/* fit2cloud-ui的variables加载了element-ui的变量 */
@import "~fit2cloud-ui/src/styles/common/variables";

$ko-search-bar-condition-bgColor: #000000;
$--input-placeholder-color: #C0C4CC;

:export {
  theme: $--color-primary;
}

#nprogress .bar {
  background: $--color-kubepi !important; //自定义颜色
}

.jv-dark {
  background: #112234;
  white-space: nowrap;
  color: #525252;
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;

  .jv-ellipsis {
    color: #999;
    background-color: #eee;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
  }
  .jv-button { color: #49b3ff }
  .jv-key { color: #ce6b41 }
  .jv-item {
    &.jv-array { color: #111111 }
    &.jv-boolean { color: #fc1e70 }
    &.jv-function { color: #067bca }
    &.jv-number { color: #fc1e70 }
    &.jv-number-float { color: #fc1e70 }
    &.jv-number-integer { color: #fc1e70 }
    &.jv-object { color: #eee }
    &.jv-undefined { color: #e08331 }
    &.jv-string {
      color: #42b983;
      word-break: break-word;
      white-space: normal;
    }
  }
  .jv-code {
    .jv-toggle {
      &:before {
        padding: 0px 2px;
        border-radius: 2px;
      }
      &:hover {
        &:before {
          background: #eee;
        }
      }
    }
  }
}





